@model RunPerfomancesWebApp.Models.RunPerfomances

@{
    ViewBag.Title = "CountPaceAndDistance";
}

<div>
    <h3></h3>
    @using (Html.BeginForm())
    {

        @Html.LabelFor(m => m.Speed, "Speed:")
        <br />
        @Html.TextBoxFor(m => m.Speed) @:km/hour
        <br />
        @Html.LabelFor(m => m.Time, "Time:")
        <br />
        @Html.TextBoxFor(m => m.Time) @:min
        <br />
        @Html.LabelFor(m => m.Pace, "Your pace:")
        <br />
        @Html.TextBoxFor(m => m.Pace) @:min/km
        <br />
        @Html.LabelFor(m => m.Distance, "Your distance:")
        <br />
        @Html.TextBoxFor(m => m.Distance) @:km
        <br /><br />
        <p>
            <input type="button" onclick="window.location.href='/Home/GetPaceAndDistance';"
                   value="Try again" />
        </p>
    }
</div>
