@model RunPerfomancesWebApp.Models.RunPerfomances

@{
    ViewBag.Title = "GetPaceAndSpeed";
}
    <div>
        <h3 style="text-align:center; font-weight:bold">Count your running perfomances</h3>
        @using (Html.BeginForm("CountPaceAndSpeed", "Home"))
        {

            @Html.LabelFor(m => m.Time, "Enter time (hour):")
            <br />
            @Html.TextBoxFor(m => m.Time)
            @Html.ValidationMessageFor(m => m.Time)
            <br />
            @Html.LabelFor(m => m.Distance, "Enter distance (km):")
            <br />
            @Html.TextBoxFor(m => m.Distance)
            @Html.ValidationMessageFor(m => m.Distance)
            <br /> <br />
            <p><input type="submit" value="Count" /></p>
        }
    </div>
